Repository isaqb-org/curriculum-foundation, pull requests merged in 2024-11, with the labels that each got.

#669 #577 glossary contains references
  documentation/decisions/003-build-curriculum-with-Java.md
  documentation/decisions/012-explanation-and-refs-in-glossary.md
Labels: V2025, documentation

#672 Add and Implement ADR012 for Citation Key Standardization
  README.adoc
  docs/09-references/00-references.adoc
  documentation/decisions/012-citation_key_standardization.md
Labels: enhancement, V2025, documentation

#676 fixed #674, fixed duplicate ADR name
  documentation/decisions/013-explanation-and-refs-in-glossary.md
Labels: V2025, minor

#677 #675, propose to simplify citation key for multiple authors (remove blank)
  README.adoc
  documentation/decisions/012-citation_key_standardization.md
Labels: V2025, minor
